@charset "UTF-8";

    img {
        width: 300px;
        height: 500px;
    }
    .macarrao ,img#maca{
        display: block;
        margin: 0px auto;
        width: 300px;
        height: 500px;
    }
    section#redes-sociais{
        text-align: right;
    }
    section#redes-sociais img:hover{
        border: 2px solid rgba(226, 14, 14, 0.575);
        transform: translate(-3px , -3px);
    }
    section#redes-sociais img{
        width: 50px;
        height: 90px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px , 2px, 5px, solid rgba(0, 0, 0, 0.555);
        box-sizing: border-box;
    }
    .video,object,embed{
        
        width: 300px;
        height: 400px;
       
    
     }
 
