@charset "UTF-8";

*{
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
}
span#iburguer{
    color: white;
    padding: 10px;
}
span#iburguer:hover{
    background-color: black;
    color: red;
    
}
header{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
    background-color: rgba(28, 153, 28, 0.966);
    padding-right: 40px;
   
    
}
p{
    padding: 5px;
    text-align: justify;
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

h1#equipe{
    text-align: center;
    padding: 5px;
    padding-top: 5px;
}
main{
    
    padding: 20px;
    background-color: rgba(85, 166, 233, 0.411);
    border: 2px solid rgba(0, 0, 0, 0.945);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}
.container ,img{
     text-align: center;
     border-radius: 15px;
     
}
nav{
    background-color: rgba(28, 153, 28, 0.966) ;
    padding: 10px;
    box-shadow: 0px 7px 9px black;
    padding-right: 30px;
}
nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
   }
   nav > a:hover{
    background-color: black;
    color: red;
    transition-duration: 1s;
   }
   h1#crepe{
    text-align: center;
    padding: 5px;
   }
 .video , object{
    text-align: center;
   

 }
 h1#buffet{
    padding: 10px;
 }
 .macarrao ,img{
    text-align: center;
    
 }

 section#redes-sociais{
    text-align: right;
}
section#redes-sociais img:hover{
    border: 2px solid rgba(226, 14, 14, 0.575);
    transform: translate(-3px , -3px);
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px , 2px, 5px, solid rgba(0, 0, 0, 0.555);
    box-sizing: border-box;
}
footer{

    color:black;
    background-color:rgba(28, 153, 28, 0.966);
    text-align: center;
    

}
footer a{
    text-decoration: none;
    color: white;
}
.hulkinho,img#Hulk{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0px auto;
}
.macarrao ,img#maca{
    height: 500px;
    width: 500px;
    display: block;
    margin: 0px auto;
    
   
}
.Elton img#eltinho{
    display: block;
    margin: 0px auto;

}
.video2{
    
    height: 500px;
    width: 500px;
    display: block;
    margin: 0px auto;
    border-radius: 15px;
   

}
h2#local{
    text-align: center;
}

input#icadastro[type=submit]{
    display: block;
    color: white;
    background-color: green;
    font-size: 1em;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input#icadastro[type=submit]:hover{
    background-color: rgba(0, 128, 0, 0.575);
}
fieldset{
    background-image: linear-gradient(340deg, #9d96fd 0, #7982f6 25%, #4870ee 50%, #005fe6 75%, #0051df 100%);
    border-radius: 5px;
    border: none;
}
legend{
    display: block;
    margin: 0px auto;
    position: absolute;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.inputs{
    color: white;
    padding-top: 20px;
}
input{
    height: 30px;
    width: 30%;
    border-radius: 5px;
    border: none;
    }
 input:hover{
    transform: translate(-3px , -3px)
 }   

/* Para Celulares */

   @media screen and (min-width: 300px) and (max-width: 600px) {

        *{
            width: 100%;
            
        }
      
       
    
      main{
        max-width: 390px;
        padding: 8px;
        display: block;
        margin: auto;
      
      }
       
        .macarrao ,img#maca{
            width: 100%;
            display: block;
            margin: 0px auto;
            
           
        }
        .video2{
        
            height: 500px;
            width: 100%;
            display: block;
            margin: 0px auto;
            border-radius: 15px;
           
        
        }
        #icadastro{
            display: block;
            margin: auto;
        }
        section#redes-sociais img{
    
            margin: 20px;
            margin-right: 10px;
           
        }
        html,body,main{
            width: 100%;
            display: block;
            margin: auto;
            text-align: center;
        }
       
    } 
    /* tirando o menu para pc*/

    @media screen and (min-width: 768px) {

        #iburguer{
            display: none;
        }
    }